{% include 'Recipes/partials/head.html'%}

<body>
    {% include 'Recipes/partials/header.html'%}
    {% include 'Recipes/partials/search.html'%}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporario">
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">Lorem Ipsum dolor sit amet.</h2>
                </div>

                <div class="recipe-author">
                    <spam class="recipe-author-item">
                        <i class="fas fa-user"></i>
                        Victor Galvão
                    </spam>
                    <spam class="recipe-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        20/06/2022 às 15:43
                    </spam>
                    <spam class="recipe-author-item">
                        <a href="recipes/category/cafe-da-manha/">
                            <i class="fas fa-layer-group"></i>
                            <spam> Café da manhã </span>
                        </a>
                    </spam>
                </div>  
                
                <div class="recipe-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime totam nobis beatae nam! Nihil aliquid odio sit, minima dignissimos labore iusto ab, similique iste quisquam corporis. Veniam, voluptatem impedit.</p>
                </div>

                <div class="recipe-meta-container">
                    <div class="recipe-meta recipe-preparation">
                        <h3 class=" recipe-meta-title"> <i= class="fas fa-stopwatch"></i> Preparo</h3>
                        <div class="recipe-meta-text">
                            0 Minutos
                        </div>
                    </div>
                    <div class="recipe-meta recipe-servings">
                        <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
                        <div class="recipe-meta-text">
                            0 Porções
                        </div>
                    </div>
                </div>
                
                <footer class="recipe-footer">
                    <a class="recipe-read-more button button-dark button-full-width" href="">
                    <i class="fas fa-eye"></i>
                    <span>ver mais...</spam>
                    </a>
                </footer>    

            </div>

        </div>
    </main>
    
</body>

</html>