{% include 'Recipes/partials/head.html'%}

<body>
    {% include 'Recipes/partials/header.html'%}
    {% include 'Recipes/partials/search.html'%}
    
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {%include 'Recipes/partials/recipe.html'%}
            {%include 'Recipes/partials/recipe.html'%}
            {%include 'Recipes/partials/recipe.html'%}
            
        </div>
    </main>
    
    
    {%include 'Recipes/partials/footer.html'%}
</body>


</html>